@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* main */

.main {
    background: #171921;
    padding-top: 30px;
    padding-bottom: 94px;
}

.main .avatar {
    width: 100px;
    height: 100px;
    background: #C4C4C4;
    border-radius: 50px;
    margin: auto;
    margin-top: 52px;
}

.main span {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}

.main a {
    position: absolute;
    right: 15px;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
}

.main #email,
#password {
    margin-top: 10px;
    margin-bottom: 23px;
    width: 350px;
}

.main #google {
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    border-color: unset;
    margin-bottom: 10px;
    width: 345px;
    height: 48px;
    background: #4285F4;
    border-radius: 5px;
}

.main #facebook {
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    border-color: unset;
    margin-bottom: 48px;
    width: 345px;
    height: 48px;
    background: #3C5A99;
    border-radius: 5px;
}


/* member */

.main .col-md-7 {
    margin-left: 20px;
    background: #fff;
}

.main .member {
    background: #FFFFFF;
    margin-bottom: 30px;
}

.span.member {
    position: relative;
    top: 15%;
    left: 10%;
    font-size: 25px;
}

.time.member {
    position: relative;
    top: 14%;
    left: 68%;
    margin-left: -78px;
}

.member h4 {
    position: relative;
    top: 50px;
    left: 70px;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
}

.member p {
    position: relative;
    top: 35px;
    left: 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #A7A9AC;
}

.lbo {
    border-top: 22px solid #171921;
    margin: 0 -15px;
    padding: 0 25px;
}


/* tabs item */

.tabs {
    display: flex;
    position: relative;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 78%;
    height: 2px;
    /* border-radius: 15px; */
    transition: all 0.2s ease;
}

.active,
.dott:hover {
    background-color: #EF8D21;
}

.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
    border-bottom: 1px solid #C4C4C4;
    width: 160px;
}

.tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
}

.tab-item.active {
    opacity: 1;
}

.tab-content {
    padding: 28px 0;
}

.tab-pane {
    color: #333;
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-pane .far {
    margin-left: 40%;
    margin-top: 5%;
    font-size: 700%;
    color: #C4C4C4;
}

.tab-pane h5 {
    border-bottom: 1px solid #C4C4C4;
    width: 100%;
}

.tab-pane .fal {
    margin-left: 40%;
    font-size: 700%;
    color: #EF8D21;
}

.tab-pane h6 {
    background: #EF8D21;
    width: 250px;
    height: 35px;
    text-align: center;
    padding: 8px 0;
    margin-left: 31%;
    border-radius: 5px;
    color: #FFFFFF;
}

.tab-pane .buy {
    margin-top: 15%;
}


/* footer */

footer {
    background-color: #111319;
    padding-top: 92px;
}

footer a {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 20px;
}

footer h6 {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
}

footer a:hover {
    text-decoration: none;
}

footer span i {
    color: #FFFFFF;
    font-size: 20px;
    border: 1px solid darkgray;
    border-radius: 31px;
    padding: 5px 5px;
    margin-right: 10px;
}

.text p {
    color: #000000;
    font-weight: 300;
    font-size: 11px;
    line-height: 21px;
}

.app-btn {
    width: 100%;
    max-width: 160px;
    color: #fff !important;
    margin: 20px 10px;
    text-align: left;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Lucida Grande", sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    border: 1px solid;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-btn.blu {
    background-color: #101010;
    transition: background-color 0.25s linear;
}

.app-btn.blu:hover {
    background-color: #454545;
}

.app-btn i {
    width: 20%;
    height: 20%;
    text-align: center;
    font-size: 28px;
    margin-right: 15px;
}

.app-btn p {
    padding-top: 5px;
    margin-bottom: 5px;
}

.app-btn .big-txt {
    font-size: 16px;
    text-transform: capitalize;
    padding-top: 5px;
}

footer .language {
    border: 1px solid #ffff;
    width: 180px;
    padding: 5px 0;
    color: #ffff;
    border-radius: 10px;
    padding-left: 25px;
    margin-top: 46px;
    margin-bottom: 32px;
}

.language span {
    margin-left: 5px;
    margin-right: 40px;
}

footer .copy {
    color: #FFFFFF;
}

.line .dot {
    text-align: center;
    margin: 1px;
    padding: 1px;
    width: 100%;
}

#upimg {
    background-color: #ef8d21;
    border: 0px;
    border-radius: 5px;
    font-size: 13px;
}


/* 3 buttons yellow */

.btn-account {
    margin-top: -36px;
    text-align: center;
}

.btn-account input[type="button"] {
    background: #EF8D21;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0.5rem 3rem;
    color: #FFFFFF;
    font-weight: 700;
    size: 14px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    text-align: center;
    border: none;
    border-radius: 5px;
}


/* Popup-account */

.row1 {
    flex-wrap: wrap;
    height: 100vh;
}

.col1 {
    width: 100%;
}

.form-wrapper {
    width: 100%;
    max-width: 500px;
}

.align-item-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-account {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    font-family: 'Roboto', sans-serif;
}

.popup-account.active {
    display: block;
}

.popup {
    padding: 2rem;
    width: 100%;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    display: none;
}

.popup.active {
    display: block;
    visibility: visible;
    opacity: 1;
}

.popup .head {
    display: flex;
    justify-content: space-between;
}

.popup h2 {
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0!important;
    line-height: 1.5!important;
    color: #000000;
}

.image {
    justify-content: end;
    margin-top: 20px;
}

.square {
    width: 100px;
    height: 100px;
    background: #C4C4C4;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.text p {
    margin-right: 45px;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0;
}

.text button {
    background: #EF8D21;
    border-radius: 3px;
    font-size: 9px;
    font-weight: 400;
    width: 65%;
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

.list-input {
    margin-top: 50px;
}

.list-input label {
    margin-bottom: 5px;
    font-size: 13px!important;
}

.input-group input[type="text"] {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    padding: 0.3rem 0rem;
}

.important {
    color: red;
}

.btn-save {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 30px;
    background: #EF8D21;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    width: 30%;
    border: 0;
    outline: 0;
}

.footer-btn {
    display: flex;
    justify-content: flex-end;
}


/* Update Account */

.update-email {
    padding: 2rem 1rem;
    width: 100%;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: 0.5s;
}

.update-email.active {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.update-email .head {
    display: flex;
    justify-content: space-between;
}

.update-email h2 {
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0!important;
    line-height: 1.5!important;
    color: #000000;
}

.update-email .list-input {
    flex-direction: column;
}

.update-email .list-input .input-group input[type="text"] {
    width: 100%;
}

.update-email .input-group {
    margin-bottom: 15px;
}


/* Change Password */

.change-password {
    padding: 2rem;
    width: 100%;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: 0.5s;
}

.change-password.active {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.change-password .head {
    display: flex;
    justify-content: space-between;
}

.change-password h2 {
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0!important;
    line-height: 1.5!important;
    color: #000000;
}

.change-password .list-input {
    flex-direction: column;
}

.change-password .list-input .input-group input[type="text"] {
    width: 100%;
}

.change-password .input-group {
    margin-bottom: 15px;
}


/* responsive */


/*Ipad ngang(1024 x 768)*/

@media screen and (max-width: 1024px) {
    #email,
    #password {
        width: 288px!important;
    }
    #google,
    #facebook {
        width: 288px!important;
    }
    .span.member {
        left: -2%;
    }
    .time.member {
        margin-left: -96%;
        left: 95%;
    }
    .member h4 {
        left: 50%;
    }
    .member p {
        left: 8%;
    }
    .tab-pane h6 {
        margin-left: 26%;
    }
    .app-btn {
        max-width: 150px;
        min-width: 116%;
        max-height: 24%;
    }
    .tabs .line {
        width: 95%;
    }
}


/*Ipad dọc(768 x 1024)*/

@media screen and (max-width: 768px) {
    .bg-light {
        min-width: 100%;
        margin-top: 2%;
    }
    .bg-light form {
        width: 0;
        margin-left: 30%;
    }
    form a {
        padding-right: 28%;
        margin-top: -3%;
    }
    .main .col-md-7 {
        min-width: 720px;
        left: -20px;
        top: 10px;
    }
    .member h4 {
        margin-right: 57%;
        left: 39%;
    }
    .tab-pane h6 {
        margin-left: 31%;
    }
    .app-btn {
        max-width: 85px;
        min-width: 141px;
        max-height: 39px;
        margin-left: -22px;
    }
    .tabs .line {
        width: 72%;
    }
    /* 3 buttons yellow */
    .btn-account input[type="button"] {
        width: 288px!important;
    }
}


/*Tablet nhỏ(480 x 640)*/

@media screen and (max-width: 480px) {
    .bg-light form {
        margin-left: 20%;
    }
    form a {
        padding-right: 17%;
        margin-top: -5%;
    }
    .member {
        max-width: 480px;
    }
    .main .col-md-7 {
        min-width: 480px;
        left: -20px;
        top: 10px;
    }
    .span.member {
        left: 0%;
    }
    .time.member {
        margin-left: -95%;
        margin-right: 100%;
    }
    .member h4 {
        left: 15%;
        margin-right: 20%;
    }
    .member p {
        margin-right: 20%;
    }
    .tab-pane .fal {
        margin-left: 25%;
    }
    .tab-pane h6 {
        margin-left: 15%;
    }
    .lbo {
        max-width: 480px;
    }
    footer .col-md-4 {
        max-width: 100%;
    }
    footer .col-md-2 {
        max-width: 100%;
        text-align: left;
        padding-top: 30px;
    }
    .app-btn {
        margin-left: 0;
    }
    .tabs .line {
        width: 100%;
    }
    /* Popup-account */
    .list-input {
        flex-direction: column;
        text-align: left!important;
        justify-content: left;
    }
    .input-group {
        flex-direction: column;
    }
    .input-group.right {
        margin-left: 0!important;
    }
    .input-group.address input[type="text"] {
        margin-top: -30px!important;
    }
}


/* iPhone X max-width 375px */

@media screen and (max-width: 375px) {
    .main span,
    .main a,
    #email,
    #password,
    #google,
    #facebook {
        margin-left: -3px!important;
    }
    .member {
        max-width: 300px;
    }
    .member .col-md-3 {
        max-width: 300px;
    }
    .span.member {
        left: 14%;
    }
    .tab-pane h6 {
        margin-left: 7%;
    }
    .main .col-md-7 {
        min-width: 375px;
    }
    .lbo {
        max-width: 375px;
    }
    .bg-light form {
        margin-left: 9%;
    }
}


/*Iphone(480 x 640)*/

@media screen and (max-width: 320px) {
    body {
        max-width: 320px;
    }
    .main .col-md-7 {
        min-width: 320px;
        /* left: -20px;
        top: 10px; */
    }
    .main span {
        margin-left: -52px!important;
    }
    form a {
        left: 85%;
    }
    #edit1 {
        top: 30%;
    }
    #email,
    #password {
        margin-left: -55px!important;
    }
    #google,
    #facebook {
        width: 190px !important;
    }
    .span.member {
        left: 18%;
    }
    .time.member {
        max-width: 290px;
    }
    .member h4 {
        left: 23%;
        margin-right: 22%;
    }
    .member p {
        margin-right: 10%;
    }
    .tab-pane .far {
        margin-left: 25%;
    }
    .tab-pane h6 {
        margin-left: 2%;
    }
    /* 3 buttons yellow */
    .btn-account input[type="button"] {
        width: 190px!important;
    }
    .bg-light form {
        margin-left: 20%;
    }
}


/*Smart phone nhỏ*/

@media screen and (max-width: 240px) {
    .main span {
        margin-left: -46px!important;
    }
    form a {
        padding-right: 6%;
        margin-top: -7%;
    }
    #email,
    #password {
        margin-left: -48px!important;
        width: 218px!important;
    }
    #edit1 {
        margin-top: -7%;
    }
    #google,
    #facebook {
        width: 170px !important;
        margin-left: -22px!important;
    }
    .main .col-md-7 {
        min-width: 240px;
        left: -20px;
        top: 10px;
    }
    .time.member {
        max-width: 240px;
        margin-right: 90%;
    }
    .tab-pane h6 {
        margin-left: 4%;
        max-width: 200px;
    }
    .tabs {
        margin-left: -15%;
    }
    .tab-pane .far {
        margin-left: 14%;
    }
    .tab-pane h6 {
        margin-left: 1%;
    }
    .tabs .line {
        width: 110%;
    }
    /* 3 buttons yellow */
    .btn-account input[type="button"] {
        width: 170px!important;
        margin-left: -22px;
    }
    .text p {
        margin-right: 0px;
        font-size: 14px;
    }
}