.intro p {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.main {
    padding-top: 50px !important;
}

.img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
    height: 480px;
}

.img:hover .text-center {
    margin-top: -100px;
}

.img::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: linear-gradient(to top, #171921 1%, transparent 40%, transparent)
}

.button a {
    color: black;
}

.text-center {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: white;
    transition-duration: 0.8s;
    width: 100%;
    padding: 0 20px 0 20px;
}

.a {
    font-weight: bold;
    font-size: 36px;
}

.b {
    font-size: 20px;
    font-weight: 900;
}

.c {
    font-size: 18px;
    font-weight: 500;
}

.teacher .container .row .col-md-4 {
    padding-bottom: 30px;
}

.button {
    background-color: white;
    border: 1px solid #EF8D21;
    border-radius: 7px;
    width: 100%;
    margin-top: 25px;
}

.button button {
    width: 100%;
    background-color: white;
    border: 0px;
    border-radius: 7px;
}

button p {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: large;
    font-weight: 500;
}

button p i {
    margin-right: 5px;
}

.sort {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0px;
}

.sort p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
}

.sort button {
    border: 0;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-weight: 400;
}

.sort button:hover {
    background-color: #EF8D21;
}

.classify {
    margin: 50px 0 15px 0;
}

.sort .dropdown-item {
    font-size: 16px;
    font-weight: 500;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.pagination a {
    display: block;
    color: rgb(255, 255, 255);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #EF8D21;
    color: rgb(0, 0, 0);
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}


/*Ipad ngang(1024 x 768)*/

@media screen and (max-width: 1024px) {
    .a {
        font-weight: bold;
        font-size: 30px;
    }
    .c {
        font-size: 16px;
        font-weight: 500;
    }
    .text-center {
        top: 101%;
    }
    .classify .col-md-4 {
        flex: 0 0 40.333333%;
        max-width: 40.333333%;
    }
}


/*Ipad dọc(768 x 1024)*/

@media screen and (max-width: 768px) {
    .a {
        font-weight: bold;
        font-size: 23px;
    }
    .c {
        font-size: 13px;
        font-weight: 500;
    }
    .img {
        height: auto;
    }
    .text-center {
        top: 102%;
    }
    .classify .col-md-4 {
        flex: 0 0 52.333333%;
        max-width: 52.333333%;
    }
}


/*Tablet nhỏ(480 x 640)*/

@media screen and (max-width: 480px) {
    .a {
        font-weight: bold;
        font-size: 48px;
    }
    .c {
        font-size: 24px;
        font-weight: 500;
    }
    .text-center {
        top: 100%;
    }
    .classify .col-md-4 {
        flex: 0 0 76.333333%;
        max-width: 76.333333%;
    }
    .pagination {
        justify-content: center;
    }
}

@media screen and (max-width: 425px) {
    .a {
        font-weight: bold;
        font-size: 34px;
    }
    .c {
        font-size: 20px;
        font-weight: 500;
    }
    .text-center {
        top: 101%;
    }
    .classify .col-md-4 {
        flex: 0 0 84.333333%;
        max-width: 84.333333%;
    }
}

@media screen and (max-width: 414px) {
    .a {
        font-weight: bold;
        font-size: 36px;
    }
    .c {
        font-size: 19px;
        font-weight: 500;
    }
}

@media screen and (max-width: 375px) {
    .a {
        font-weight: bold;
        font-size: 36px;
    }
    .c {
        font-size: 18px;
        font-weight: 500;
    }
    .classify .col-md-4 {
        flex: 0 0 96.333333%;
        max-width: 96.333333%;
    }
}


/*Iphone(480 x 640)*/

@media screen and (max-width: 320px) {
    .a {
        font-weight: bold;
        font-size: 30px;
    }
    .c {
        font-size: 16px;
        font-weight: 500;
    }
    .classify .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .sort p {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 0px;
    }
    .sort button {
        border: 0;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        font-weight: 400;
        font-size: 13px;
    }
}


/*Smart phone nhỏ*/

@media screen and (max-width: 240px) {
    .a {
        font-weight: bold;
        font-size: 20px;
    }
    .c {
        font-size: 12px;
        font-weight: 500;
    }
    .text-center {
        top: 103%;
    }
    .sort p {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 0px;
    }
    .sort button {
        border: 0;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        font-weight: 600;
        font-size: 9px;
    }
}