        .video {
            width: 100%;
        }
        
        #row {
            height: 460px;
        }
        
        .wrapper {
            display: table;
            width: auto;
            position: relative;
            width: 50%;
        }
        
        .playpause {
            width: 100%;
            height: 55%;
            position: absolute;
            left: 0%;
            right: 0%;
            top: 0%;
            bottom: 0%;
            text-align: center;
        }
        
        .playpause img {
            transform: translate(0px, 220%);
        }
        
        .im {
            display: grid;
            background-color: #101214;
            height: 49%;
            overflow-x: hidden;
            overflow-y: auto;
        }
        
        .im div {
            border-bottom: 1px solid #575656;
            display: flex;
        }
        
        .im p {
            text-align: center;
            margin-left: 20px;
            margin-top: 35px;
        }
        
        .im div img {
            width: 73.25px;
            height: 97.7px;
            margin-bottom: 12px;
            margin-top: 11px;
            margin-left: 11px;
        }
        
        .all {
            width: 30%;
            margin-bottom: 10px;
            background-color: #434343;
            border-radius: 3px;
            text-align: center;
        }
        
        .all a {
            color: white;
            font-size: 14px;
            font-weight: 600;
        }
        
        .col-md-3 button {
            background-color: #EF8D21;
            margin-bottom: 5px;
            width: 160px;
            border: 0px;
            height: 30px;
            border-radius: 3px;
        }
        
        .col-md-3 button p a {
            font-size: 12px;
            margin-bottom: 0px;
            color: white;
            font-weight: 600;
        }
        
        .col-md-3 button p {
            font-size: 12px;
            margin-bottom: 0px;
            color: white;
            font-weight: 600;
        }
        
        #but {
            background-color: #171921;
            border: 2px solid;
        }
        
        #google {
            width: 46px;
            height: 45px;
            border-radius: 50px;
            background-color: #0085f8;
        }
        
        #google p {
            text-align: center;
            padding-top: 10px;
        }
        
        .date {
            display: flex;
        }
        
        #date {
            margin-bottom: 0px;
            height: 25px;
            padding-top: 10px;
            padding-left: 10px;
            color: white;
            font-size: 14px;
            font-weight: 300;
        }
        
        .str {
            margin-top: 12px;
        }
        
        .imt {
            overflow-x: hidden;
            overflow-y: auto;
            height: 35%;
        }
        
        .imt .com {
            border-bottom: 1px solid #575656;
            padding-top: 10px;
        }
        /*Ipad ngang(1024 x 768)*/
        
        @media screen and (max-width: 1024px) {
            .im {
                height: 40%;
            }
            .playpause {
                height: 45%;
            }
            .playpause img {
                transform: translate(0px, 200%);
            }
        }
        /*Ipad dọc(768 x 1024)*/
        
        @media screen and (max-width: 768px) {
            .all {
                width: 45%;
            }
            .im div img {
                width: 58.25px;
                height: 82.7px;
            }
            .im {
                height: 32%;
            }
            .playpause img {
                transform: translate(0px, 135%);
            }
            .playpause {
                height: 38%;
            }
            #row {
                height: 320px;
            }
            .col-md-3 button {
                background-color: #EF8D21;
                margin-bottom: 5px;
                width: 145px;
                border: 0px;
                height: 30px;
                border-radius: 3px;
                transform: translate(-53px, 10px);
            }
            .col-md-3 button p {
                font-size: 11px;
            }
        }
        /*Tablet nhỏ(480 x 640)*/
        
        @media screen and (max-width: 480px) {
            .im {
                height: 40%;
            }
            #row {
                height: 600px;
            }
            #col-md-3 {
                margin-left: 55px;
                margin-bottom: 20px;
            }
            .playpause {
                height: 100%;
            }
        }
        /*Iphone(480 x 640)*/
        
        @media screen and (max-width: 320px) {
            .playpause img {
                transform: translate(0px, 170%);
                width: 36px;
            }
            #row {
                height: 490px;
            }
        }
        /*Smart phone nhỏ*/
        
        @media screen and (max-width: 240px) {
            .playpause img {
                transform: translate(0px, 123%);
                width: 36px;
            }
        }