.cen {
    position: initial;
}

.cen img {
    width: 100%;
}

.fri {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 5%;
}

.invite_mail p {
    color: white;
}

.inputs {
    background-color: #5A5A5A;
    border: 1px;
    width: 70%;
    height: 40px;
    border-radius: 5px;
    color: white;
}

.static {
    background-color: #5a5a5a;
    height: 40px;
    width: 70%;
    border-radius: 5px;
    color: white;
}

.static h5 {
    margin-bottom: 0px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 400;
    padding-top: 10px;
}

.static h5 i {
    margin-left: 80%;
    color: #EF8D21;
    font-weight: 600 !important;
    transform: translate(10px, -17px);
}

.lin {
    display: flex;
}

.lin p {
    padding-left: 10px;
    margin-bottom: 0px;
    padding-top: 5px;
}

.invite_mail button {
    background-color: #EF8D21;
    border: 7px solid #EF8D21;
    border-radius: 5px;
    height: 38px;
    margin-left: 10px;
    color: white;
    font-weight: 11px;
    font-weight: 600;
}


/*Ipad ngang(1024 x 768)*/

@media screen and (max-width: 1024px) {
    .static h5 i {
        margin-left: 78%;
        margin-bottom: 0px;
        color: #EF8D21;
        font-weight: 600 !important;
        transform: translate(0, -110%);
    }
    input {
        width: 65%;
    }
    .main {
        padding-top: 45px;
    }
}


/*Ipad dọc(768 x 1024)*/

@media screen and (max-width: 768px) {
    .cen {
        position: initial;
    }
    .cen img {
        width: 100%;
    }
    .static h5 {
        font-size: 13px;
    }
    .invite_mail button {
        color: white;
        font-size: 10px;
        margin-bottom: 0px;
    }
    .na {
        display: flex;
    }
    .static h5 i {
        margin-left: 74%;
    }
    input {
        width: 68%;
    }
}


/*Tablet nhỏ(480 x 640)*/

@media screen and (max-width: 480px) {
    .cen {
        position: initial;
        transform: translate(8%, -10%);
        width: 88%;
    }
    .cen img {
        width: 100%;
    }
    button p {
        margin-bottom: -5px;
    }
    .static {
        width: 72%;
    }
    input {
        width: 73%;
    }
    .main {
        padding-top: 90px;
    }
}


/*Iphone(480 x 640)*/

@media screen and (max-width: 320px) {
    .static {
        width: 103%;
    }
    .static h5 {
        font-size: 11px;
        padding-right: 5px;
        padding-top: 13px;
    }
    .invite_mail button {
        font-size: 8px;
    }
}


/*Smart phone nhỏ*/

@media screen and (max-width: 240px) {
    .lin p {
        padding-left: 10px;
        margin-bottom: 0px;
        padding-top: 17px;
        width: 25px;
        transform: translate(8%, -27%);
    }
    .lin a img {
        width: 175%;
    }
    .static h5 {
        font-size: 7px;
        padding-right: 5px;
    }
    .invite_mail p,
    .fri p {
        color: white;
        font-size: 15px;
    }
    #re {
        font-size: 12px;
    }
}