@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
a {
    color: white!important;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none!important;
}

.align-item-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* HEADER */

header .header_bottom {
    background-color: #171921;
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: -30px;
}

header .header_bottom .main {
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

header .header_bottom .main .logo {
    max-width: 250px;
    width: 100%;
}

header .header_bottom .main .menu {
    display: flex;
    width: 100%;
    max-width: 500px;
}

header .header_bottom .main .menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header .header_bottom .main .menu ul li {
    margin-right: 30px;
}

header .header_bottom .main .menu ul li a {
    color: #fff;
    text-decoration: none;
}

header .header_bottom .main .menu ul li a:hover {
    color: #f08e21;
}

header .header_bottom .main .right_nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 39%;
}

header .header_bottom .main .right_nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0px;
}

.fsearch {
    width: 68%;
}

header .header_bottom .main .right_nav ul li {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

header .header_bottom .main .right_nav ul li .btn_signup {
    font-size: 12.5px;
    color: #FFFFFF;
    width: 100px;
    height: 30px;
    border: 0.5px solid #FFFFFF;
    border-radius: 8px;
}

header .header_bottom .main .right_nav ul li a {
    text-decoration: none;
    color: #fff;
}

header .header_bottom .main .right_nav ul li a:hover svg path {
    fill: #f08e21;
}

header .header_bottom .main .right_nav ul li a:hover {
    color: #f08e21;
}

header .header_bottom .main .right_nav ul li .btn_signup:hover {
    background-color: #f08e21;
    border-color: #f08e21;
    color: #fff;
}


/* BANNER */

.container {
    /* margin-top: 112px; */
    flex-direction: column;
}

.banner {
    margin-top: 30px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #00c14e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 32px;
}

.banner a {
    padding: 12px 28px;
    background-color: #EF8D21;
    border-radius: 12px;
}


/* EXPLORE */

.explore {
    padding: 160px;
    background: #191c21;
    flex-direction: column;
}

.explore .tam {
    color: #a3a4a6;
}

.container-explore {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 32px;
}

.list-type {
    margin-top: 17px;
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
}

.list-type::before {
    content: "<";
    position: absolute;
    left: 110px;
    font-weight: 100;
    font-size: 40px;
}

.list-type::after {
    content: ">";
    position: absolute;
    font-weight: 100;
    font-size: 40px;
    right: 110px;
}

.list-type span {
    width: 24px;
}

.type {
    cursor: pointer;
}

.type.active {
    padding: 10px;
    background: #272c33;
    border-radius: 100px;
}

.buttons {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.information {
    text-align: left;
}

.information p {
    margin-bottom: 24px;
}

.information .wellness {
    padding: 2px 16px;
    border-radius: 20px;
    border: 1px solid white;
    margin-bottom: 25px;
}

.information .continue {
    font-size: 12px;
    height: 28px;
    width: 118px;
    background: #EF8D21;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.col-md-6.active2 {
    border-bottom: 1px solid #41474F;
    padding-bottom: 32px;
    max-height: 347px;
}

.image-button {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-button img {
    height: 100%;
}

.watch {
    border-radius: 12px;
    padding: 8px 24px;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent;
    border: 1px solid white;
    bottom: 20px;
    left: 10px;
    font-weight: bold;
    cursor: pointer;
}

.sticky-footer {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    bottom: 0;
    height: 80px;
    background: #191c21;
    width: 100%;
    opacity: 0.8;
    overflow: hidden;
}

.sticky-footer a {
    padding: 12px 28px;
    background: #f24462;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;
}

.list-masters {
    display: none;
}

.list-masters.active {
    display: block;
}


/* RESPONSIVE */

@media screen and (max-width: 1024px) {
    header {
        padding: 0 64px;
    }
    .col-md-6.active {
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
}

@media screen and (max-width: 768px) {
    .header-right a {
        display: none;
    }
    .header-left ion-icon {
        display: block;
    }
    .list-search {
        position: absolute;
        right: 5px;
    }
    .explore {
        padding: 30px;
    }
    .list-type::before {
        left: 0px;
    }
    .list-type::after {
        right: 0px;
    }
    .banner .row {
        padding-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .dropdown-content {
        width: 100%;
        left: 0;
    }
    .list-search {
        right: 0px;
        width: 100%;
        border-radius: 0;
    }
    .col-md-6.active2 {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 320px) {
    .header-left {
        margin-left: -21px;
    }
    .header-left {
        margin-left: -55px;
    }
    .header-left img {
        width: 68%;
    }
    .header-right {
        margin-right: 0px;
    }
    .row {
        padding-top: 10px;
    }
    .list-explore .row {
        padding: 20px 0!important;
    }
    .col-md-6.active2 {
        padding-bottom: 70px;
        max-height: 500px;
    }
}

@media screen and (max-width: 320px) {
    header {
        padding: 0 13px;
    }
    .logo img {
        margin-left: -10px;
    }
}