
.top-page{
    padding: 0 150px;
}
.top-page h2{
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.top-page h5{
    color: #cbac6a;
    text-align: center;
    margin: 0 6%;
    font-size: 17px;
}
.info{
    margin-top: 20px;
    background-color: #0f0f0f;
    padding: 30px 25px;
}
.info h4{
    color: #fff;
}
.info p{
    color: #6c757d !important;
}
.line-info{
    border: 1px solid #252323;
    margin: 16px 0;
}
.order-item{
    display: flex;
}
.thumbnail-te{
    background-image: url(../images/HoNgocHa.jpg);
    width: 100px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.intro-te{
    margin-left: 2%;
}
.intro-te h6{
    color: #fff;
}
.order-item .price{
    color: #fff;
    margin-left: 27%;
    margin-top: 2%;
}
.bottom-page{
    padding-top: 50px;
    text-align: center;
    color: #fff;
}
.support i{
    padding: 20px 0;
    font-size: 50px;
}
.support a{
    font-size: 18px;
    font-weight: 500;
}
.support .method{
    color: #fff;
}
.support .method:hover{
    color: #fff;
}
.support a p{
    color: #cbac6a;
}
.support a p:hover{
    color: #c59d48;
}

/* responsive */
/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
    .order-item .price{
        margin-left: 12%;
    }
}


/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {}


/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
    .top-page{
        min-width: 460px;
        margin: 0 -34%;
    }
    /* .info{
        min-width: 460px;
        margin-left: -104%;
    } */
}

/*  */
@media screen and (max-width: 414px) {
    .header .header_bottom{
        min-width: 400px;
    }
    .top-page{
        min-width: 400px;
        margin: 0 -2%;
        padding: 0 0%;
    }
}

/*  */
@media screen and (max-width: 375px) {
    .header .header_bottom{
        min-width: 370px;
    }
    .top-page{
        min-width: 370px;
        margin: 0 -2%;
        padding: 0 0%;
    }
}

/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {
    .header .header_bottom{
        min-width: 310px;
    }
    .top-page{
        min-width: 310px;
        margin: 0 -2%;
        padding: 0 0%;
    }
}


/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {
    .header .header_bottom{
        min-width: 230px;
    }
    .top-page{
        min-width: 220px;
        margin: 0 -2%;
        padding: 0 0%;
    }
    .top-page h2{
        font-size: 14px;
    }
    .top-page h5{
        font-size: 10px;
    }
    .info h4{
        font-size: 18px;
    }
    .info p{
        font-size: 14px;
    }
    .thumbnail-te{
        width: 100%;
    }
    .intro-te h6{
        font-size: 10px;
    }
    .intro-te p{
        font-size: 10px;
    }
    .order-item .price{
        font-size: 12px;
    }
    .bottom-page h3{
        font-size: 16px;
    }
    .support i{
        font-size: 30px;
    }
}