body,
html {
    width: 100%;
    min-height: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 180px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: inherit;
}

.dropdown-content a:hover {
    background-color: #f3f2f2;
    border-radius: 3px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

p a {
    color: #6c757d;
}

.nav-item a {
    color: white;
    font-size: 200;
}

.dropdown-item {
    color: black !important;
}

.black p {
    color: #EF8D21;
    text-align: center;
    margin-bottom: 0;
    padding: 15px;
    margin-top: 10px;
}

#tra {
    color: white;
    margin-left: 25px;
    margin-top: 10px;
}

.navbar-nav .nav-item {
    padding-right: 40px;
}

.navbar-brand {
    color: white;
}

.main {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #171921;
}

.header {
    background-color: #171921;
}

.footer {
    background-color: #111319;
    height: 330px;
    bottom: 0;
    width: 100%;
}

ul {
    list-style-type: none;
}

.IconConnec {
    display: flex;
    padding-bottom: 20px;
}

.IconConnec li {
    margin-top: 15px;
    list-style-type: none;
}

.IconConnec li a {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 15px;
    color: #ffffff;
    font-size: 20px;
}

.IconConnec li a:hover {
    border: 1px solid #ffffff;
    border-radius: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 15px;
    color: #ffffff;
}

.padd {
    padding-top: 30px;
}

.padd li {
    color: #6C757D;
}

.white {
    color: white !important;
}

.bi-list {
    color: white;
    border: 2px solid #2f3335;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

a:link {
    text-decoration: none;
}

.mb-4 h6 {
    color: white;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-btn {
    width: 100%;
    max-width: 160px;
    color: #fff;
    margin: 20px 0px;
    text-align: left;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Lucida Grande", sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    border: 1px solid;
}

#title {
    color: #EF8D21;
    font-weight: 700;
    font-size: 36px;
}

.app-btn.blu {
    background-color: #101010;
    transition: background-color 0.25s linear;
}

.app-btn.blu:hover {
    background-color: #454545;
}

.black {
    background-color: black;
}

.app-btn i {
    width: 20%;
    height: 20%;
    text-align: center;
    font-size: 28px;
    margin-right: 15px;
}

.app-btn p {
    padding-top: 5px;
    margin-bottom: 5px;
}

.app-btn .big-txt {
    font-size: 16px;
    text-transform: capitalize;
    padding-top: 5px;
}

.lang {
    color: white;
    background-color: #111319;
    border: 1px solid;
    border-radius: 10px;
    width: 35%;
}

.trader {
    color: white;
    margin-left: 25px;
    margin-top: 10px;
}

.h-fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 8;
    background-color: #fff;
    top: 0;
    display: block;
}

.header .header_bottom {
    background-color: #171921;
    height: 60px;
    display: flex;
    align-items: center;
}

.header .header_bottom .mai {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 25px;
    padding-top: 50px;
}

.header .header_bottom .mai .logo {
    max-width: 250px;
    width: 100%;
}

.header .header_bottom .mai .menu {
    display: flex;
    width: 100%;
    max-width: 615px;
}

.header .header_bottom .mai .menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header .header_bottom .mai .menu ul li {
    margin-right: 30px;
}

.header .header_bottom .mai .menu ul li a {
    color: #fff;
    text-decoration: none;
}

.header .header_bottom .mai .menu ul li a:hover {
    color: #f08e21;
}

.header .header_bottom .mai .right_nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
    max-width: 246px;
    padding-bottom: 10px;
}

.header .header_bottom .mai .right_nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.header .header_bottom .mai .right_nav ul li {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.header .header_bottom .mai .right_nav ul li .btn_signup {
    font-size: 12.5px;
    color: #FFFFFF;
    width: 100px;
    height: 30px;
    border: 0.5px solid #FFFFFF;
    border-radius: 8px;
}

.header .header_bottom .mai .right_nav ul li a {
    /* text-decoration: none; */
    color: #fff;
}

.header .header_bottom .mai .right_nav ul li a:hover svg path {
    fill: #f08e21;
}

.header .header_bottom .mai .right_nav ul li a:hover {
    color: #f08e21;
}

.header .header_bottom .mai .right_nav ul li .btn_signup:hover {
    background-color: #f08e21;
    border-color: #f08e21;
    color: #fff;
}

#btn-toggle-sidebar svg {
    width: 30px;
}

#btn-toggle-sidebar svg path {
    fill: #f08e21;
}

@media screen and (min-width: 1024px) {
    .col {
        flex: 0 0 25%;
        max-width: 75%;
    }
    #btn-toggle-sidebar {
        display: none;
    }
}


/*Ipad ngang(1024 x 768)*/

@media screen and (max-width: 1024px) {
    #tra {
        color: white;
        margin-left: 10px;
        margin-top: 10px;
    }
    .trader {
        color: white;
        margin-left: 12px;
        margin-top: 10px;
    }
    .header .header_bottom .mai .right_nav {
        width: 7%;
    }
}


/*Ipad dọc(768 x 1024)*/

@media screen and (max-width: 768px) {
    .lang {
        width: 45%;
        margin-left: 0px;
    }
    .trader {
        margin-left: 5px;
    }
    #tra {
        color: white;
        margin-left: 5px;
        margin-top: 10px;
    }
    #btn-toggle-sidebar {
        display: block;
    }
    .header .header_bottom .mai {
        margin-bottom: 31px;
    }
    .header .header_bottom .mai .menu {
        display: none;
    }
    .header .header_bottom .mai .right_nav {
        display: none;
    }
    .header .header_bottom .mai .logo {
        max-width: 100%
    }
}


/*Tablet nhỏ(480 x 640)*/

@media screen and (max-width: 480px) {
    .lang {
        width: 35%;
        margin-left: 0px;
    }
    .trader {
        margin-left: 12px;
    }
    #tra {
        color: white;
        margin-left: 20px;
        margin-top: 10px;
    }
}


/*Iphone(480 x 640)*/

@media screen and (max-width: 320px) {
    .lang {
        width: 55%;
        margin-left: 0px;
    }
    .trader {
        margin-left: 11px;
    }
    #tra {
        color: white;
        margin-left: 25px;
        margin-top: 10px;
    }
}


/*Smart phone nhỏ*/

@media screen and (max-width: 240px) {
    .lang {
        width: 75%;
        margin-left: 0px;
    }
    #tra {
        color: white;
        margin-left: 23px;
        margin-top: 10px;
    }
}